.overlay-top {
    position: fixed;
    top: 0;
    left: 0;
    height: calc(6 * #{$line-height});
    width: 100%;
    // height: 100%;
    padding: $margin-screen-border $margin-screen-border calc(2 * #{$line-height} + #{$margin-screen-border} + 1.5rem) $margin-screen-border;
    will-change: background-color, color;
    pointer-events: none;
    z-index: 200;
    opacity: 1;
    display: flex;
    flex-direction: column;
    // margin-top: 3.5rem;

    &.blur-start {
        filter: blur(1rem);
        opacity: 0;
    }
}

.title {
    // height: $line-height;
    height: 1.95rem;
}

h1 {
    margin: 0;
}

.name {
    display: inline-block;
    padding-right: 1rem;
    pointer-events: auto;
}

.about {
    display: inline-block;
    pointer-events: auto;
    transform-origin: center center;
}

.about-info {
    height: 0%;
    overflow: hidden;
    padding-top: 2.7rem;
    display: grid;
    grid-template-rows: 1fr 1fr auto auto;
    opacity: 0;
    filter: $filter-1;
}

.about-animate {
    opacity: 0;
    transform: translateY(3rem);
}

.about-text-container {
    padding-top: 0.8rem;
    padding-bottom: 2.8rem;
    overflow: scroll;
    pointer-events: auto;
}

.about-clients-container {
    padding-top: 0.8rem;
    padding-bottom: 2.8rem;
    overflow: scroll;
    pointer-events: auto;
}

.about-text-container::-webkit-scrollbar {
    display: none;
}

.about-clients-container::-webkit-scrollbar {
    display: none;
}


.about-contact-container {
    padding-top: 0.8rem;
    padding-bottom: 2.8rem;
}

.link-instagram {
    color: inherit;
    text-underline-offset: 3px;
    text-decoration-thickness: 1px;
    pointer-events: auto;
}

.about-text {
    opacity: 0;
    hyphens: auto;
    word-wrap: break-word;
}

.website-credit {
    padding-top: 0.8rem;
    margin-bottom: $line-height;
    line-height: 1.3;
}

.link {
    text-underline-offset: 2px;
    text-decoration-thickness: 1px;
    padding-top: 0.5rem;
    display: block;
    pointer-events: auto;

}

.timeline {
    position: relative;
    padding-top: 0.55rem;
    width: 100%;
}

.time-bar {
    // height: $font-size-1;
    height: $font-size-2;
    display: inline-block;
    position: relative;
    background-color: white;
    transition: width 0.1s linear, background-color 500ms ease-in-out, opacity 500ms ease-in-out, filter 500ms ease-in-out !important;
    will-change: width;
    z-index: 2000;
}


.start-stripe {
    height: $font-size-2;
    position: absolute;
    top: 0.55rem;
    left: 0;
}

.stripe {
    height: $font-size-2;

    &.not-displayed {

        display: none;
    }

    &.displayed {
        display: inline-block;
    }
}

.end-stripe {
    position: absolute;
    top: 0.55rem;
    right: 0;
    // height: 2.43rem;
    height: 2.8rem;
    z-index: 2000;
}



.project-info-header {
    padding-top: 0.4rem;
    display: grid;
    grid-template-columns: 5rem 1fr 6rem;
    // grid-template-rows: 3.4rem $line-height $line-height;
    grid-template-rows: 3.4rem 1.95rem 1.95rem;
}

.time-counter {
    display: inline-block;
    text-align: right;
    grid-column: 3;
    grid-row: 1;
    transform: translateY(-0.1rem);
    margin-right: 0.7rem;
}

.time-counter-number {
    display: inline-block;
    // transform: translateY(-0.2rem);
}

.colon {
    margin: 0 -0.14rem 0 -0.14rem;
}

.project-number {
    grid-column: 1;
    grid-row: 2;
}

.bracket-monument {
    font-family: 'Monument Grotesk Mono Regular';
    display: inline-block;
    transform: translateY(-0.1rem);
}

.number-digits {
    display: inline-block;
    margin: -0.9rem;
}

.project-title-visible {
    grid-column: 2;
    grid-row: 2;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;

    &.not-visible {
        width: 0%
    }
}

.client-visible {
    grid-column: 2;
    grid-row: 3;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;

    &.not-visible {
        width: 0%
    }
}

.plus-button-container {
    position: relative;
    display: flex;
    justify-content: right;
    align-items: center;
    grid-column: 3;
    grid-row: 2 / span 2;

}

.plus-button {
    border-radius: 50%;
    height: 5.1rem;
    width: 5.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: auto;
    z-Index: 2000;
    transform-origin: center center;

    &.visible {
        transform: rotate(45deg);
    }

    &.not-displayed {
        display: none;
    }
}

.plus {
    position: relative;
    height: 2.6rem;
    width: 2.6rem;
}

.plus-vertical {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 2.6rem;
}

.plus-horizontal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 2.6rem;
}



.project-info-all {

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: calc(5 * #{$line-height} + #{$line-height} + 1rem) 1fr auto auto;
    width: 100%;
    padding-top: 2.7rem;
    opacity: 0;
    filter: blur(0.5rem);
    flex-grow: 1;
    overflow: hidden;
}


.info-grid {
    margin-left: 5rem;
    padding-top: 0.8rem;
    padding-bottom: $line-height;
    overflow: hidden;

}

.info-headline {
    text-align: right;
    padding-bottom: 0.8rem;
}

.info-brackets {
    display: inline-block;
}

.info-word {
    display: inline-block;
    margin: -0.3rem;
    transform: translateY(0rem);
}


.credits-grid {
    margin-left: 5rem;
    padding-top: 0.8rem;
    overflow: scroll;
    pointer-events: auto;
    padding-bottom: 2.8rem;
}

.desktop {
    display: none;
}

.credits-grid::-webkit-scrollbar {
    display: none;
}

.info-grid-line {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.project-information-grid div {
    max-width: 100%;
    transform: translateY(3rem);
    opacity: 0;

}


.full-video-button {
    // margin: calc(#{$line-height} + 0.6rem) 0 0.3rem 5rem;
    margin: 1rem 0 1rem 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 9rem;
    pointer-events: auto;
    transform-origin: center center;
}

.credit-line {
    padding-left: 5rem;
    letter-spacing: 0.01rem;
}

.credit-line span {
    display: inline-block;
    transform: translateY(-0.13rem);
}

.overlay-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0 $margin-screen-border calc(#{$margin-screen-border} + 0.8rem) $margin-screen-border;
    z-Index: 200;

    &.blur-start {
        filter: blur(1rem);
        opacity: 0;
    }
}

.bottom-buttons-container {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.bottom-buttons-left {
    display: grid;
    grid-template-columns: 5rem 7rem 7rem;
    grid-template-rows: $line-height;
}

.projects-amount {
    grid-column: 1;
}

.amount-digits {
    display: inline-block;
    margin: -0.9rem;
}

.filter-button {
    grid-column: 2;
    pointer-events: auto;
    transform-origin: center center;
    position: relative;
}


.filter-options {
    position: fixed;
    bottom: 6rem;
    opacity: 0;
}

.filter-option {
    padding-bottom: 0.3rem;
}

.filter-circle {
    display: inline-block;
    height: $circle-height;
    width: $circle-width;
    border-radius: 50%;
    // border: solid white 0.15rem;
    margin-left: 0.9rem;
    margin-right: 1.95rem;
    transform: translateY(-0.13rem);
}

.filter-word {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    max-width: 0;
}

.index-button {
    grid-column: 3;
    pointer-events: auto;
}

.color-button {
    display: grid;
    grid-template-columns: 2rem 7rem;
    grid-template-rows: $line-height;
    pointer-events: auto;
}

.color-circle {
    height: $circle-height;
    width: $circle-height;
    position: relative;
    transform: translateY(0.1rem);
    border-radius: 50%;
}

.circle-background-color {
    position: absolute;
    top: 0;
    left: 0;
    grid-column: 1;
    height: $circle-height;
    width: $circle-height;
    border-radius: 50%;
    z-Index: 2000;

}

.circle-background-blur {
    position: absolute;
    top: 0;
    left: 0;
    grid-column: 1;
    height: $circle-height;
    width: $circle-height;
    border-radius: 50%;
    background: $background-color-transparent;
    backdrop-filter: $backdrop-filter-1;
    z-Index: 1900;
}

.hex-code {
    grid-column: 2;
    text-align: right;
}

.pointer-events-block {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    height: 7rem;
    // background-color: red;
}


//Animations


//Project-Info

.info-opening-step-1 {
    .overlay-top {
        height: 100%;
    }
}

.info-opening-step-2 {

    .overlay-top {
        height: 100%;
    }

    .project-info-all {
        opacity: 1;
        filter: blur(0rem);
    }
}

.info-opening-step-3 {

    .overlay-top {
        height: 100%;
    }

    .project-info-all {
        opacity: 1;
        filter: blur(0rem);
    }

    .project-information-grid div {
        max-width: 100%;
        transform: translateY(0);
        opacity: 1;
    }
}

.info-closing-step-1 {

    .overlay-top {
        height: 100%;
    }

    .project-info-all {
        opacity: 1;
        filter: blur(0.5rem);
    }

    .project-information-grid div {
        max-width: 100%;
        transform: translateY(0);
        opacity: 1;
    }
}

.info-closing-step-2 {

    .overlay-top {
        height: 100%;
    }

    .project-info-all {
        opacity: 0;
        filter: blur(0.5rem);
    }

    .project-information-grid div {
        max-width: 100%;
        transform: translateY(0);
        opacity: 0;
    }
}

.info-closing-step-3 {

    .overlay-top {
        height: calc(6 * #{$line-height});
    }

    .project-info-all {
        opacity: 0;
        filter: blur(0.5rem);

    }

    .project-information-grid div {
        max-width: 100%;
        transform: translateY(0);
        opacity: 0;
    }

}


//Filter

.filter-opening-step-1 {

    .filter-options {
        opacity: 1;
    }

    .filter-button {
        pointer-events: none;
    }

    .index-button {
        pointer-events: none;
    }
}

.filter-opening-step-2 {

    .filter-options {
        opacity: 1;
    }

    .filter-word {
        max-width: 100%;
    }

    .index-button {
        pointer-events: none;
    }
}


//About 

.about-opening-step-1 {

    .overlay-top {
        height: 100%;
    }

    .timeline {
        opacity: 0;
        filter: $filter-1;
    }

    .project-info-header {
        opacity: 0;
        filter: $filter-1;
    }

    .project-info-all {
        opacity: 0;
        filter: $filter-1;
    }


    .bottom-buttons-left {
        opacity: 0;
        filter: $filter-1;
    }
}

.about-opening-step-2 {

    .overlay-top {
        height: 100%;
    }

    .title {
        height: 100%;
    }

    .about-info {
        height: 100%;
        overflow: hidden;
        opacity: 0;
    }
    
    .timeline {
        opacity: 0;
        filter: $filter-1;
        display: none;
    }

    .project-info-header {
        opacity: 0;
        filter: $filter-1;
        display: none;
    }

    .project-info-all {
        opacity: 0;
        filter: $filter-1;
        display: none;
    }

    .bottom-buttons-left {
        opacity: 0;
        filter: $filter-1;
    }
}

.about-opening-step-3 {

    .overlay-top {
        height: 100%;
    }

    .title {
        height: 100%;
    }

    .about-info {
        height: 100%;
        overflow: hidden;
        opacity: 1;
        filter: blur(0);
    }
    
    .timeline {
        opacity: 0;
        filter: $filter-1;
        display: none;
    }

    .project-info-header {
        opacity: 0;
        filter: $filter-1;
        display: none;
    }

    .project-info-all {
        opacity: 0;
        filter: $filter-1;
        display: none;
    }

    .bottom-buttons-left {
        opacity: 0;
        filter: $filter-1;
    }
}

.about-opening-step-4 {

    .overlay-top {
        height: 100%;
    }

    .title {
        height: 100%;
    }

    .about-info {
        height: 100%;
        overflow: hidden;
        opacity: 1;
        filter: blur(0);

    }

    .about-animate {
        opacity: 1;
        transform: translateY(0rem);
    }
    
    .timeline {
        opacity: 0;
        filter: $filter-1;
        display: none;
    }

    .project-info-header {
        opacity: 0;
        filter: $filter-1;
        display: none;
    }

    .project-info-all {
        opacity: 0;
        filter: $filter-1;
        display: none;
    }

    .bottom-buttons-left {
        opacity: 0;
        filter: $filter-1;
    }
}

.about-closing-step-1 {

    .overlay-top {
        height: 100%;
    }

    .title {
        height: 100%;
    }

    .about-info {
        height: 100%;
        overflow: hidden;
        opacity: 0;
        filter: $filter-1;

    }

    .about-animate {
        opacity: 0;
        transform: translateY(0rem);
    }
    
    .timeline {
        opacity: 0;
        filter: $filter-1;
        display: none;
    }

    .project-info-header {
        opacity: 0;
        filter: $filter-1;
        display: none;
    }

    .project-info-all {
        opacity: 0;
        filter: $filter-1;
        display: none;
    }

    .bottom-buttons-left {
        opacity: 0;
        filter: $filter-1;
    }
}

.about-closing-step-2 {

    .overlay-top {
        height: 100%;
    }

    .about-info {
        height: 0%;
        overflow: hidden;
        opacity: 0;
        filter: $filter-1;

    }

    .about-animate {
        opacity: 0;
        transform: translateY(0rem);
    }
    
    .timeline {
        opacity: 0;
        filter: $filter-1;
    }

    .project-info-header {
        opacity: 0;
        filter: $filter-1;
    }

    .project-info-all {
        opacity: 0;
        filter: $filter-1;
    }

    .bottom-buttons-left {
        opacity: 0;
        filter: $filter-1;
    }
}

.about-closing-step-3 {

    .about-info {
        height: 0%;
        overflow: hidden;
        opacity: 0;
        filter: $filter-1;

    }

    .about-animate {
        opacity: 0;
        transform: translateY(0rem);
    }
    
    .timeline {
        opacity: 1;
        filter: blur(0);
    }

    .project-info-header {
        opacity: 1;
        filter: blur(0);
    }

    .project-info-all {
        opacity: 1;
        filter: blur(0);
    }

    .bottom-buttons-left {
        opacity: 1;
        filter: blur(0);
    }
}

