.swipe-arrows-container {
    position: fixed;
    top: 0;
    left: 2.3rem;
    width: 3.1rem;
    height: 100vh;
    z-index: 200;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.swipe-arrows {
    height: 8rem;
    width: 3.1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transform: translateY(0rem);
    transform-origin: center center;

    .rotate & {
        transform: rotate(180deg) translateY(0rem);
    }
}

.swipe-arrow {
    width: 1.5rem;
    height: 1.5rem;
    transform: rotate(45deg);
    opacity: 0;
    transition: all 300ms ease-in-out;

    &.visible {
        opacity: 1;
    }
}